In [15]:
#!pip install neo4j

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: neo4j in c:\users\jinji\appdata\roaming\python\python39\site-packages (5.6.0)
Requirement already satisfied: pytz in c:\programdata\anaconda3\lib\site-packages (from neo4j) (2022.1)

[notice] A new release of pip available: 22.3.1 -> 23.1
[notice] To update, run: C:\ProgramData\Anaconda3\python.exe -m pip install --upgrade pip

In [1]:
from neo4j import GraphDatabase
from neo4j.exceptions import ServiceUnavailable
import pandas as pd
import re

In [28]:
# Read data
# Data source: https://data.aseanstats.org/visitors
arrival_df = pd.read_csv("ASEANStatsData.csv", skiprows=1)
arrival_df=arrival_df.fillna(method="ffill")
# arrival_df = pd.read_excel("arrivals_asean.xlsx")
print(len(arrival_df))
arrival_df.head()

770

  Destination Country   Origin Country    2019
0   Brunei Darussalam   Australia [AU]  10 188
1   Brunei Darussalam  Bangladesh [BD]   3 281
2   Brunei Darussalam    Cambodia [KH]     463
3   Brunei Darussalam      Canada [CA]   2 322
4   Brunei Darussalam       China [CN]  74 511

In [29]:
# Read Mapping data

code_map = pd.read_csv("country_name_code_map.csv")
code_map = code_map.rename(columns={'Country Name':'Destination Country', 'Country Code': 'Destination Country Code'})

In [30]:
# ETL
arrival_df = arrival_df.merge(code_map, on='Destination Country', how='left')
arrival_df[['Origin Country Name','Origin Country Code']]= arrival_df["Origin Country"].str.split('[',expand=True)
arrival_df["Origin Country Name"]= arrival_df["Origin Country Name"].str.strip()
arrival_df["Origin Country Code"] = arrival_df["Origin Country Code"].str.replace(']','')
arrival_df['visitors'] = arrival_df['2019'].str.replace(' ', '').astype(int)
arrival_df.head()

,Destination Country,Origin Country,2019,Destination Country Code,Origin Country Name,Origin Country Code,visitors
0,Brunei Darussalam,Australia [AU],10 188,BN,Australia,AU,10188
1,Brunei Darussalam,Bangladesh [BD],3 281,BN,Bangladesh,BD,3281
2,Brunei Darussalam,Cambodia [KH],463,BN,Cambodia,KH,463
3,Brunei Darussalam,Canada [CA],2 322,BN,Canada,CA,2322
4,Brunei Darussalam,China [CN],74 511,BN,China,CN,74511

In [31]:
# Remove rows with same destination and origin country
arrival_df = arrival_df[arrival_df["Destination Country Code"] != arrival_df["Origin Country Code"]]
print(len(arrival_df))

# Remove rows with "Others Unspecified Countries"
arrival_df = arrival_df[arrival_df["Origin Country Name"] != "Others Unspecified Countries"]
print(len(arrival_df))

769
759

In [32]:
# Get unique list of Countries

dest_country = arrival_df[["Destination Country", "Destination Country Code"]]
dest_country = dest_country.rename(columns={'Destination Country':'Country Name', 'Destination Country Code':'Country Code'})

ori_country = arrival_df[["Origin Country Name","Origin Country Code"]]
ori_country = ori_country.rename(columns={'Origin Country Name':'Country Name', 'Origin Country Code':'Country Code'})

entities= pd.concat([dest_country,ori_country])
print(len(entities))

unique_entities = entities.drop_duplicates(keep='first', inplace=False)
print(len(unique_entities))

1518
197

In [33]:
# Get relevant columns for relationship in graph

arrival_df = arrival_df[["Destination Country Code", "Origin Country Code", "visitors"]]
arrival_df.head()

  Destination Country Code Origin Country Code  visitors
0                       BN                  AU     10188
1                       BN                  BD      3281
2                       BN                  KH       463
3                       BN                  CA      2322
4                       BN                  CN     74511

https://neo4j.com/docs/aura/aurads/connecting/python/

In [11]:
# Replace with the actual URI, username and password
# AURA_CONNECTION_URI = "neo4j+s://85b099f8.databases.neo4j.io:7687" (To connect to system owner's Neo4J Aura instance)
# AURA_CONNECTION_URI = "neo4j+s://xxxxxxxx.databases.neo4j.io" (If connect to your Neo4J Aura instance, to 'xxxxxxxx')
# AURA_USERNAME = "neo4j" (If connect to your Neo4J Aura instance, input username taged to the Neo4J instance)
# AURA_PASSWORD = "password" (If connect to your Neo4J Aura instance, input password taged to the Neo4J instance)

# Driver instantiation
driver = GraphDatabase.driver(
    AURA_CONNECTION_URI,
    auth=(AURA_USERNAME, AURA_PASSWORD)
)

In [34]:
# delete all nodes first
# DO NOT delete if you already have access to the instance with pre-populated graph
# query = (
#        "MATCH (all_nodes)"
#        "OPTIONAL MATCH (all_nodes)-[all_rels]->()"
#        "DELETE all_nodes, all_rels"
#   )
# with driver.session() as session:
#    result = session.run(query)

In [35]:
# Create nodes for each unique country    
for i,r in unique_entities.iterrows():
    query = (
                "MERGE (node: country {code: $code, name: $name})"
                "RETURN node"
            )
    with driver.session() as session:
        result = session.run(query, code=r['Country Code'], name=r['Country Name'])
    print("create new node with code as", r['Country Code'])

create new node with code as BN
create new node with code as KH
create new node with code as ID
create new node with code as LA
create new node with code as MY
create new node with code as MM
create new node with code as PH
create new node with code as SG
create new node with code as TH
create new node with code as VN
create new node with code as AU
create new node with code as BD
create new node with code as CA
create new node with code as CN
create new node with code as DK
create new node with code as FR
create new node with code as DE
create new node with code as IN
create new node with code as IE
create new node with code as IT
create new node with code as JP
create new node with code as KR
create new node with code as NP
create new node with code as NL
create new node with code as NZ
create new node with code as NO
create new node with code as OM
create new node with code as PK
create new node with code as LK
create new node with code as SE
create new node with code as GB
create new node with code as US
create new node with code as AF
create new node with code as AR
create new node with code as AT
create new node with code as BE
create new node with code as BT
create new node with code as BR
create new node with code as BG
create new node with code as CM
create new node with code as CL
create new node with code as CO
create new node with code as CR
create new node with code as HR
create new node with code as CZ
create new node with code as EC
create new node with code as EG
create new node with code as EE
create new node with code as FJ
create new node with code as FI
create new node with code as GH
create new node with code as GR
create new node with code as HN
create new node with code as HK
create new node with code as HU
create new node with code as IS
create new node with code as IQ
create new node with code as IR
create new node with code as IL
create new node with code as JM
create new node with code as JO
create new node with code as KZ
create new node with code as KE
create new node with code as KW
create new node with code as KG
create new node with code as LV
create new node with code as LR
create new node with code as LT
create new node with code as LU
create new node with code as MO
create new node with code as MT
create new node with code as MX
create new node with code as MC
create new node with code as MN
create new node with code as MA
create new node with code as NG
create new node with code as PS
create new node with code as PE
create new node with code as PL
create new node with code as PT
create new node with code as QA
create new node with code as CG
create new node with code as RO
create new node with code as RU
create new node with code as SA
create new node with code as ZB
create new node with code as SK
create new node with code as SI
create new node with code as ZA
create new node with code as ES
create new node with code as SD
create new node with code as CH
create new node with code as SY
create new node with code as TW
create new node with code as TN
create new node with code as TR
create new node with code as UA
create new node with code as AE
create new node with code as UY
create new node with code as UZ
create new node with code as VE
create new node with code as YE
create new node with code as AL
create new node with code as DZ
create new node with code as AS
create new node with code as AD
create new node with code as AO
create new node with code as AG
create new node with code as AM
create new node with code as AW
create new node with code as AZ
create new node with code as BH
create new node with code as BY
create new node with code as BZ
create new node with code as BJ
create new node with code as BO
create new node with code as BA
create new node with code as BW
create new node with code as BF
create new node with code as BI
create new node with code as CV
create new node with code as CF
create new node with code as TD
create new node with code as KM
create new node with code as CI
create new node with code as CU
create new node with code as CY
create new node with code as KP
create new node with code as CD
create new node with code as DJ
create new node with code as DM
create new node with code as DO
create new node with code as SV
create new node with code as GQ
create new node with code as ER
create new node with code as ET
create new node with code as GF
create new node with code as MK
create new node with code as GE
create new node with code as GD
create new node with code as GT
create new node with code as GN
create new node with code as GW
create new node with code as GY
create new node with code as HT
create new node with code as VA
create new node with code as KI
create new node with code as LB
create new node with code as LS
create new node with code as LY
create new node with code as LI
create new node with code as MG
create new node with code as MW
create new node with code as MV
create new node with code as ML
create new node with code as MH
create new node with code as MQ
create new node with code as MR
create new node with code as MU
create new node with code as FM
create new node with code as MD
create new node with code as MZ
create new node with code as NA
create new node with code as NR
create new node with code as NC
create new node with code as NI
create new node with code as NE
create new node with code as PW
create new node with code as PA
create new node with code as PG
create new node with code as PY
create new node with code as PR
create new node with code as RW
create new node with code as WS
create new node with code as SM
create new node with code as ST
create new node with code as SN
create new node with code as SC
create new node with code as SL
create new node with code as SB
create new node with code as KN
create new node with code as LC
create new node with code as VC
create new node with code as SR
create new node with code as SZ
create new node with code as TJ
create new node with code as BS
create new node with code as GM
create new node with code as TL
create new node with code as TG
create new node with code as TO
create new node with code as TT
create new node with code as TM
create new node with code as TV
create new node with code as VU
create new node with code as EH
create new node with code as GU

In [37]:
# Create relationships

for (_,dest, orig, number) in arrival_df.itertuples():
    print(dest, orig, number)
    query = (
        "MATCH (n1 {code: $code1})"
        "MATCH (n2 {code: $code2})"
        "MERGE (n1) - [r: travel_to {visitors: $arrival}] -> (n2)"
        "RETURN n1, n2, r"
    )
    with driver.session() as session:
        result = session.run(query, code1=orig, code2=dest, arrival=number)
    print("create new relationship {0} - {1} visitors travel_to -> {2}".format(orig, number, dest))

BN AU 10188
create new relationship AU - 10188 visitors travel_to -> BN
BN BD 3281
create new relationship BD - 3281 visitors travel_to -> BN
BN KH 463
create new relationship KH - 463 visitors travel_to -> BN
BN CA 2322
create new relationship CA - 2322 visitors travel_to -> BN
BN CN 74511
create new relationship CN - 74511 visitors travel_to -> BN
BN DK 312
create new relationship DK - 312 visitors travel_to -> BN
BN FR 1381
create new relationship FR - 1381 visitors travel_to -> BN
BN DE 1764
create new relationship DE - 1764 visitors travel_to -> BN
BN IN 8925
create new relationship IN - 8925 visitors travel_to -> BN
BN ID 33626
create new relationship ID - 33626 visitors travel_to -> BN
BN IE 109
create new relationship IE - 109 visitors travel_to -> BN
BN IT 612
create new relationship IT - 612 visitors travel_to -> BN
BN JP 10680
create new relationship JP - 10680 visitors travel_to -> BN
BN KR 15767
create new relationship KR - 15767 visitors travel_to -> BN
BN LA 221
create new relationship LA - 221 visitors travel_to -> BN
BN MY 82876
create new relationship MY - 82876 visitors travel_to -> BN
BN MM 872
create new relationship MM - 872 visitors travel_to -> BN
BN NP 1926
create new relationship NP - 1926 visitors travel_to -> BN
BN NL 1360
create new relationship NL - 1360 visitors travel_to -> BN
BN NZ 1272
create new relationship NZ - 1272 visitors travel_to -> BN
BN NO 280
create new relationship NO - 280 visitors travel_to -> BN
BN OM 218
create new relationship OM - 218 visitors travel_to -> BN
BN PK 853
create new relationship PK - 853 visitors travel_to -> BN
BN PH 24584
create new relationship PH - 24584 visitors travel_to -> BN
BN SG 14789
create new relationship SG - 14789 visitors travel_to -> BN
BN LK 278
create new relationship LK - 278 visitors travel_to -> BN
BN SE 346
create new relationship SE - 346 visitors travel_to -> BN
BN TH 5730
create new relationship TH - 5730 visitors travel_to -> BN
BN GB 14198
create new relationship GB - 14198 visitors travel_to -> BN
BN US 4375
create new relationship US - 4375 visitors travel_to -> BN
BN VN 5544
create new relationship VN - 5544 visitors travel_to -> BN
KH AF 379
create new relationship AF - 379 visitors travel_to -> KH
KH AR 5899
create new relationship AR - 5899 visitors travel_to -> KH
KH AU 123253
create new relationship AU - 123253 visitors travel_to -> KH
KH AT 10707
create new relationship AT - 10707 visitors travel_to -> KH
KH BD 7081
create new relationship BD - 7081 visitors travel_to -> KH
KH BE 19270
create new relationship BE - 19270 visitors travel_to -> KH
KH BT 265
create new relationship BT - 265 visitors travel_to -> KH
KH BR 10454
create new relationship BR - 10454 visitors travel_to -> KH
KH BN 1131
create new relationship BN - 1131 visitors travel_to -> KH
KH BG 2941
create new relationship BG - 2941 visitors travel_to -> KH
KH CM 372
create new relationship CM - 372 visitors travel_to -> KH
KH CA 60189
create new relationship CA - 60189 visitors travel_to -> KH
KH CL 6611
create new relationship CL - 6611 visitors travel_to -> KH
KH CN 2361849
create new relationship CN - 2361849 visitors travel_to -> KH
KH CO 4352
create new relationship CO - 4352 visitors travel_to -> KH
KH CR 821
create new relationship CR - 821 visitors travel_to -> KH
KH HR 1527
create new relationship HR - 1527 visitors travel_to -> KH
KH CZ 7073
create new relationship CZ - 7073 visitors travel_to -> KH
KH DK 11843
create new relationship DK - 11843 visitors travel_to -> KH
KH EC 689
create new relationship EC - 689 visitors travel_to -> KH
KH EG 1437
create new relationship EG - 1437 visitors travel_to -> KH
KH EE 1450
create new relationship EE - 1450 visitors travel_to -> KH
KH FJ 543
create new relationship FJ - 543 visitors travel_to -> KH
KH FI 6045
create new relationship FI - 6045 visitors travel_to -> KH
KH FR 164117
create new relationship FR - 164117 visitors travel_to -> KH
KH DE 94371
create new relationship DE - 94371 visitors travel_to -> KH
KH GH 385
create new relationship GH - 385 visitors travel_to -> KH
KH GR 2207
create new relationship GR - 2207 visitors travel_to -> KH
KH HN 189
create new relationship HN - 189 visitors travel_to -> KH
KH HK 2191
create new relationship HK - 2191 visitors travel_to -> KH
KH HU 6173
create new relationship HU - 6173 visitors travel_to -> KH
KH IS 885
create new relationship IS - 885 visitors travel_to -> KH
KH IN 75286
create new relationship IN - 75286 visitors travel_to -> KH
KH ID 66804
create new relationship ID - 66804 visitors travel_to -> KH
KH IQ 550
create new relationship IQ - 550 visitors travel_to -> KH
KH IE 12009
create new relationship IE - 12009 visitors travel_to -> KH
KH IR 1373
create new relationship IR - 1373 visitors travel_to -> KH
KH IL 16444
create new relationship IL - 16444 visitors travel_to -> KH
KH IT 40916
create new relationship IT - 40916 visitors travel_to -> KH
KH JM 223
create new relationship JM - 223 visitors travel_to -> KH
KH JP 207636
create new relationship JP - 207636 visitors travel_to -> KH
KH JO 677
create new relationship JO - 677 visitors travel_to -> KH
KH KZ 2150
create new relationship KZ - 2150 visitors travel_to -> KH
KH KE 561
create new relationship KE - 561 visitors travel_to -> KH
KH KR 254874
create new relationship KR - 254874 visitors travel_to -> KH
KH KW 466
create new relationship KW - 466 visitors travel_to -> KH
KH KG 385
create new relationship KG - 385 visitors travel_to -> KH
KH LA 363951
create new relationship LA - 363951 visitors travel_to -> KH
KH LV 1355
create new relationship LV - 1355 visitors travel_to -> KH
KH LR 425
create new relationship LR - 425 visitors travel_to -> KH
KH LT 2285
create new relationship LT - 2285 visitors travel_to -> KH
KH LU 931
create new relationship LU - 931 visitors travel_to -> KH
KH MO 219
create new relationship MO - 219 visitors travel_to -> KH
KH MY 203008
create new relationship MY - 203008 visitors travel_to -> KH
KH MT 507
create new relationship MT - 507 visitors travel_to -> KH
KH MX 10502
create new relationship MX - 10502 visitors travel_to -> KH
KH MC 84
create new relationship MC - 84 visitors travel_to -> KH
KH MN 1437
create new relationship MN - 1437 visitors travel_to -> KH
KH MA 993
create new relationship MA - 993 visitors travel_to -> KH
KH MM 24414
create new relationship MM - 24414 visitors travel_to -> KH
KH NP 4011
create new relationship NP - 4011 visitors travel_to -> KH
KH NL 28284
create new relationship NL - 28284 visitors travel_to -> KH
KH NZ 23304
create new relationship NZ - 23304 visitors travel_to -> KH
KH NG 595
create new relationship NG - 595 visitors travel_to -> KH
KH NO 8306
create new relationship NO - 8306 visitors travel_to -> KH
KH PS 114
create new relationship PS - 114 visitors travel_to -> KH
KH OM 265
create new relationship OM - 265 visitors travel_to -> KH
KH PK 4835
create new relationship PK - 4835 visitors travel_to -> KH
KH PE 1823
create new relationship PE - 1823 visitors travel_to -> KH
KH PH 105017
create new relationship PH - 105017 visitors travel_to -> KH
KH PL 19618
create new relationship PL - 19618 visitors travel_to -> KH
KH PT 8299
create new relationship PT - 8299 visitors travel_to -> KH
KH QA 111
create new relationship QA - 111 visitors travel_to -> KH
KH CG 434
create new relationship CG - 434 visitors travel_to -> KH
KH RO 3701
create new relationship RO - 3701 visitors travel_to -> KH
KH RU 55653
create new relationship RU - 55653 visitors travel_to -> KH
KH SA 493
create new relationship SA - 493 visitors travel_to -> KH
KH ZB 1202
create new relationship ZB - 1202 visitors travel_to -> KH
KH SG 88564
create new relationship SG - 88564 visitors travel_to -> KH
KH SK 3115
create new relationship SK - 3115 visitors travel_to -> KH
KH SI 1756
create new relationship SI - 1756 visitors travel_to -> KH
KH ZA 7711
create new relationship ZA - 7711 visitors travel_to -> KH
KH ES 45416
create new relationship ES - 45416 visitors travel_to -> KH
KH LK 4823
create new relationship LK - 4823 visitors travel_to -> KH
KH SD 243
create new relationship SD - 243 visitors travel_to -> KH
KH SE 14080
create new relationship SE - 14080 visitors travel_to -> KH
KH CH 19696
create new relationship CH - 19696 visitors travel_to -> KH
KH SY 499
create new relationship SY - 499 visitors travel_to -> KH
KH TW 138402
create new relationship TW - 138402 visitors travel_to -> KH
KH TH 466493
create new relationship TH - 466493 visitors travel_to -> KH
KH TN 844

create new relationship TN - 844 visitors travel_to -> KH
KH TR 6666
create new relationship TR - 6666 visitors travel_to -> KH
KH UA 7476
create new relationship UA - 7476 visitors travel_to -> KH
KH AE 754
create new relationship AE - 754 visitors travel_to -> KH
KH GB 163177
create new relationship GB - 163177 visitors travel_to -> KH
KH US 248863
create new relationship US - 248863 visitors travel_to -> KH
KH UY 2170
create new relationship UY - 2170 visitors travel_to -> KH
KH UZ 701
create new relationship UZ - 701 visitors travel_to -> KH
KH VE 529
create new relationship VE - 529 visitors travel_to -> KH
KH VN 908803
create new relationship VN - 908803 visitors travel_to -> KH
KH YE 576
create new relationship YE - 576 visitors travel_to -> KH
ID AF 703
create new relationship AF - 703 visitors travel_to -> ID
ID AL 1041
create new relationship AL - 1041 visitors travel_to -> ID
ID DZ 5000
create new relationship DZ - 5000 visitors travel_to -> ID
ID AS 89
create new relationship AS - 89 visitors travel_to -> ID
ID AD 235
create new relationship AD - 235 visitors travel_to -> ID
ID AO 208
create new relationship AO - 208 visitors travel_to -> ID
ID AG 194
create new relationship AG - 194 visitors travel_to -> ID
ID AR 9994
create new relationship AR - 9994 visitors travel_to -> ID
ID AM 1281
create new relationship AM - 1281 visitors travel_to -> ID
ID AW 81
create new relationship AW - 81 visitors travel_to -> ID
ID AU 1386803
create new relationship AU - 1386803 visitors travel_to -> ID
ID AT 28476
create new relationship AT - 28476 visitors travel_to -> ID
ID AZ 1445
create new relationship AZ - 1445 visitors travel_to -> ID
ID BH 2631
create new relationship BH - 2631 visitors travel_to -> ID
ID BD 59777
create new relationship BD - 59777 visitors travel_to -> ID
ID BY 6644
create new relationship BY - 6644 visitors travel_to -> ID
ID BE 46780
create new relationship BE - 46780 visitors travel_to -> ID
ID BZ 51
create new relationship BZ - 51 visitors travel_to -> ID
ID BJ 153
create new relationship BJ - 153 visitors travel_to -> ID
ID BT 867
create new relationship BT - 867 visitors travel_to -> ID
ID BO 484
create new relationship BO - 484 visitors travel_to -> ID
ID BA 1354
create new relationship BA - 1354 visitors travel_to -> ID
ID BW 382
create new relationship BW - 382 visitors travel_to -> ID
ID BR 30232
create new relationship BR - 30232 visitors travel_to -> ID
ID BN 19278
create new relationship BN - 19278 visitors travel_to -> ID
ID BG 7652
create new relationship BG - 7652 visitors travel_to -> ID
ID BF 189
create new relationship BF - 189 visitors travel_to -> ID
ID BI 54
create new relationship BI - 54 visitors travel_to -> ID
ID CV 189
create new relationship CV - 189 visitors travel_to -> ID
ID KH 13843
create new relationship KH - 13843 visitors travel_to -> ID
ID CM 242
create new relationship CM - 242 visitors travel_to -> ID
ID CA 103616
create new relationship CA - 103616 visitors travel_to -> ID
ID CF 170
create new relationship CF - 170 visitors travel_to -> ID
ID TD 122
create new relationship TD - 122 visitors travel_to -> ID
ID CL 10029
create new relationship CL - 10029 visitors travel_to -> ID
ID CN 2072252
create new relationship CN - 2072252 visitors travel_to -> ID
ID CO 6304
create new relationship CO - 6304 visitors travel_to -> ID
ID KM 304
create new relationship KM - 304 visitors travel_to -> ID
ID CR 899
create new relationship CR - 899 visitors travel_to -> ID
ID CI 729
create new relationship CI - 729 visitors travel_to -> ID
ID HR 5257
create new relationship HR - 5257 visitors travel_to -> ID
ID CU 764
create new relationship CU - 764 visitors travel_to -> ID
ID CY 3913
create new relationship CY - 3913 visitors travel_to -> ID
ID CZ 23941
create new relationship CZ - 23941 visitors travel_to -> ID
ID KP 241
create new relationship KP - 241 visitors travel_to -> ID
ID CD 158
create new relationship CD - 158 visitors travel_to -> ID
ID DK 45090
create new relationship DK - 45090 visitors travel_to -> ID
ID DJ 54
create new relationship DJ - 54 visitors travel_to -> ID
ID DM 282
create new relationship DM - 282 visitors travel_to -> ID
ID DO 407
create new relationship DO - 407 visitors travel_to -> ID
ID EC 1397
create new relationship EC - 1397 visitors travel_to -> ID
ID EG 21354
create new relationship EG - 21354 visitors travel_to -> ID
ID SV 306
create new relationship SV - 306 visitors travel_to -> ID
ID GQ 47
create new relationship GQ - 47 visitors travel_to -> ID
ID ER 205
create new relationship ER - 205 visitors travel_to -> ID
ID EE 6644
create new relationship EE - 6644 visitors travel_to -> ID
ID ET 577
create new relationship ET - 577 visitors travel_to -> ID
ID FJ 1507
create new relationship FJ - 1507 visitors travel_to -> ID
ID FI 22665
create new relationship FI - 22665 visitors travel_to -> ID
ID FR 283814
create new relationship FR - 283814 visitors travel_to -> ID
ID GF 3
create new relationship GF - 3 visitors travel_to -> ID
ID MK 1145
create new relationship MK - 1145 visitors travel_to -> ID
ID GE 768
create new relationship GE - 768 visitors travel_to -> ID
ID DE 277653
create new relationship DE - 277653 visitors travel_to -> ID
ID GH 1864
create new relationship GH - 1864 visitors travel_to -> ID
ID GR 9712
create new relationship GR - 9712 visitors travel_to -> ID
ID GD 89
create new relationship GD - 89 visitors travel_to -> ID
ID GT 503
create new relationship GT - 503 visitors travel_to -> ID
ID GN 56
create new relationship GN - 56 visitors travel_to -> ID
ID GW 108
create new relationship GW - 108 visitors travel_to -> ID
ID GY 88
create new relationship GY - 88 visitors travel_to -> ID
ID HT 102
create new relationship HT - 102 visitors travel_to -> ID
ID VA 35
create new relationship VA - 35 visitors travel_to -> ID
ID HN 340
create new relationship HN - 340 visitors travel_to -> ID
ID HK 50324
create new relationship HK - 50324 visitors travel_to -> ID
ID HU 14218
create new relationship HU - 14218 visitors travel_to -> ID
ID IS 2483
create new relationship IS - 2483 visitors travel_to -> ID
ID IN 657300
create new relationship IN - 657300 visitors travel_to -> ID
ID IQ 2933
create new relationship IQ - 2933 visitors travel_to -> ID
ID IE 28602
create new relationship IE - 28602 visitors travel_to -> ID
ID IR 10440
create new relationship IR - 10440 visitors travel_to -> ID
ID IL 924
create new relationship IL - 924 visitors travel_to -> ID
ID IT 91229
create new relationship IT - 91229 visitors travel_to -> ID
ID JM 558
create new relationship JM - 558 visitors travel_to -> ID
ID JP 519623
create new relationship JP - 519623 visitors travel_to -> ID
ID JO 6571
create new relationship JO - 6571 visitors travel_to -> ID
ID KZ 9781
create new relationship KZ - 9781 visitors travel_to -> ID
ID KE 2845
create new relationship KE - 2845 visitors travel_to -> ID
ID KI 50
create new relationship KI - 50 visitors travel_to -> ID
ID KR 388316
create new relationship KR - 388316 visitors travel_to -> ID
ID KW 5762
create new relationship KW - 5762 visitors travel_to -> ID
ID KG 1332
create new relationship KG - 1332 visitors travel_to -> ID
ID LA 4142
create new relationship LA - 4142 visitors travel_to -> ID
ID LV 5278
create new relationship LV - 5278 visitors travel_to -> ID
ID LB 6066
create new relationship LB - 6066 visitors travel_to -> ID
ID LS 95
create new relationship LS - 95 visitors travel_to -> ID
ID LR 93
create new relationship LR - 93 visitors travel_to -> ID
ID LY 2623
create new relationship LY - 2623 visitors travel_to -> ID
ID LI 412
create new relationship LI - 412 visitors travel_to -> ID
ID LT 9180
create new relationship LT - 9180 visitors travel_to -> ID
ID LU 1869
create new relationship LU - 1869 visitors travel_to -> ID
ID MO 401
create new relationship MO - 401 visitors travel_to -> ID
ID MG 492
create new relationship MG - 492 visitors travel_to -> ID
ID MW 167
create new relationship MW - 167 visitors travel_to -> ID
ID MY 2980753
create new relationship MY - 2980753 visitors travel_to -> ID
ID MV 2845
create new relationship MV - 2845 visitors travel_to -> ID
ID ML 278
create new relationship ML - 278 visitors travel_to -> ID
ID MT 1355
create new relationship MT - 1355 visitors travel_to -> ID
ID MH 27
create new relationship MH - 27 visitors travel_to -> ID
ID MQ 1
create new relationship MQ - 1 visitors travel_to -> ID
ID MR 158
create new relationship MR - 158 visitors travel_to -> ID
ID MU 4434
create new relationship MU - 4434 visitors travel_to -> ID
ID MX 13663
create new relationship MX - 13663 visitors travel_to -> ID
ID FM 11
create new relationship FM - 11 visitors travel_to -> ID
ID MD 1135

create new relationship MD - 1135 visitors travel_to -> ID
ID MC 92
create new relationship MC - 92 visitors travel_to -> ID
ID MN 4260
create new relationship MN - 4260 visitors travel_to -> ID
ID MA 11371
create new relationship MA - 11371 visitors travel_to -> ID
ID MZ 507
create new relationship MZ - 507 visitors travel_to -> ID
ID MM 46381
create new relationship MM - 46381 visitors travel_to -> ID
ID NA 598
create new relationship NA - 598 visitors travel_to -> ID
ID NR 23
create new relationship NR - 23 visitors travel_to -> ID
ID NP 18977
create new relationship NP - 18977 visitors travel_to -> ID
ID NL 215287
create new relationship NL - 215287 visitors travel_to -> ID
ID NC 2
create new relationship NC - 2 visitors travel_to -> ID
ID NZ 149010
create new relationship NZ - 149010 visitors travel_to -> ID
ID NI 165
create new relationship NI - 165 visitors travel_to -> ID
ID NE 55
create new relationship NE - 55 visitors travel_to -> ID
ID NG 3262
create new relationship NG - 3262 visitors travel_to -> ID
ID NO 23886
create new relationship NO - 23886 visitors travel_to -> ID
ID PS 3082
create new relationship PS - 3082 visitors travel_to -> ID
ID OM 24051
create new relationship OM - 24051 visitors travel_to -> ID
ID PK 14663
create new relationship PK - 14663 visitors travel_to -> ID
ID PW 690
create new relationship PW - 690 visitors travel_to -> ID
ID PA 522
create new relationship PA - 522 visitors travel_to -> ID
ID PG 78433
create new relationship PG - 78433 visitors travel_to -> ID
ID PY 287
create new relationship PY - 287 visitors travel_to -> ID
ID PE 2848
create new relationship PE - 2848 visitors travel_to -> ID
ID PH 260980
create new relationship PH - 260980 visitors travel_to -> ID
ID PL 41637
create new relationship PL - 41637 visitors travel_to -> ID
ID PT 35434
create new relationship PT - 35434 visitors travel_to -> ID
ID PR 5
create new relationship PR - 5 visitors travel_to -> ID
ID QA 1989
create new relationship QA - 1989 visitors travel_to -> ID
ID CG 82
create new relationship CG - 82 visitors travel_to -> ID
ID RO 18650
create new relationship RO - 18650 visitors travel_to -> ID
ID RU 158943
create new relationship RU - 158943 visitors travel_to -> ID
ID RW 151
create new relationship RW - 151 visitors travel_to -> ID
ID WS 17
create new relationship WS - 17 visitors travel_to -> ID
ID SM 40
create new relationship SM - 40 visitors travel_to -> ID
ID ST 27
create new relationship ST - 27 visitors travel_to -> ID
ID SA 157512
create new relationship SA - 157512 visitors travel_to -> ID
ID SN 686
create new relationship SN - 686 visitors travel_to -> ID
ID ZB 5848
create new relationship ZB - 5848 visitors travel_to -> ID
ID SC 353
create new relationship SC - 353 visitors travel_to -> ID
ID SL 312
create new relationship SL - 312 visitors travel_to -> ID
ID SG 1934445
create new relationship SG - 1934445 visitors travel_to -> ID
ID SK 9359
create new relationship SK - 9359 visitors travel_to -> ID
ID SI 4747
create new relationship SI - 4747 visitors travel_to -> ID
ID SB 224
create new relationship SB - 224 visitors travel_to -> ID
ID ZA 47657
create new relationship ZA - 47657 visitors travel_to -> ID
ID ES 83373
create new relationship ES - 83373 visitors travel_to -> ID
ID LK 28907
create new relationship LK - 28907 visitors travel_to -> ID
ID KN 243
create new relationship KN - 243 visitors travel_to -> ID
ID LC 38
create new relationship LC - 38 visitors travel_to -> ID
ID VC 32
create new relationship VC - 32 visitors travel_to -> ID
ID SD 2391
create new relationship SD - 2391 visitors travel_to -> ID
ID SR 353
create new relationship SR - 353 visitors travel_to -> ID
ID SZ 274
create new relationship SZ - 274 visitors travel_to -> ID
ID SE 56402
create new relationship SE - 56402 visitors travel_to -> ID
ID CH 57484
create new relationship CH - 57484 visitors travel_to -> ID
ID SY 2322
create new relationship SY - 2322 visitors travel_to -> ID
ID TW 207490
create new relationship TW - 207490 visitors travel_to -> ID
ID TJ 448
create new relationship TJ - 448 visitors travel_to -> ID
ID TH 136699
create new relationship TH - 136699 visitors travel_to -> ID
ID BS 172
create new relationship BS - 172 visitors travel_to -> ID
ID GM 299
create new relationship GM - 299 visitors travel_to -> ID
ID TL 1178381
create new relationship TL - 1178381 visitors travel_to -> ID
ID TG 140
create new relationship TG - 140 visitors travel_to -> ID
ID TO 138
create new relationship TO - 138 visitors travel_to -> ID
ID TT 450
create new relationship TT - 450 visitors travel_to -> ID
ID TN 4335
create new relationship TN - 4335 visitors travel_to -> ID
ID TR 23883
create new relationship TR - 23883 visitors travel_to -> ID
ID TM 356
create new relationship TM - 356 visitors travel_to -> ID
ID TV 18
create new relationship TV - 18 visitors travel_to -> ID
ID UA 35537
create new relationship UA - 35537 visitors travel_to -> ID
ID AE 9065
create new relationship AE - 9065 visitors travel_to -> ID
ID GB 397684
create new relationship GB - 397684 visitors travel_to -> ID
ID US 457832
create new relationship US - 457832 visitors travel_to -> ID
ID UY 2063
create new relationship UY - 2063 visitors travel_to -> ID
ID UZ 3756
create new relationship UZ - 3756 visitors travel_to -> ID
ID VU 191
create new relationship VU - 191 visitors travel_to -> ID
ID VE 1548
create new relationship VE - 1548 visitors travel_to -> ID
ID VN 96024
create new relationship VN - 96024 visitors travel_to -> ID
ID EH 2
create new relationship EH - 2 visitors travel_to -> ID
ID YE 9221
create new relationship YE - 9221 visitors travel_to -> ID
LA AU 24750
create new relationship AU - 24750 visitors travel_to -> LA
LA AT 3320
create new relationship AT - 3320 visitors travel_to -> LA
LA BE 6099
create new relationship BE - 6099 visitors travel_to -> LA
LA BN 389
create new relationship BN - 389 visitors travel_to -> LA
LA KH 28342
create new relationship KH - 28342 visitors travel_to -> LA
LA CA 12873
create new relationship CA - 12873 visitors travel_to -> LA
LA CN 1022727
create new relationship CN - 1022727 visitors travel_to -> LA
LA DK 3134
create new relationship DK - 3134 visitors travel_to -> LA
LA FI 1719
create new relationship FI - 1719 visitors travel_to -> LA
LA FR 44416
create new relationship FR - 44416 visitors travel_to -> LA
LA DE 25346
create new relationship DE - 25346 visitors travel_to -> LA
LA GR 586
create new relationship GR - 586 visitors travel_to -> LA
LA IN 8152
create new relationship IN - 8152 visitors travel_to -> LA
LA ID 5161
create new relationship ID - 5161 visitors travel_to -> LA
LA IL 4041
create new relationship IL - 4041 visitors travel_to -> LA
LA IT 7330
create new relationship IT - 7330 visitors travel_to -> LA
LA JP 41736
create new relationship JP - 41736 visitors travel_to -> LA
LA KR 203191
create new relationship KR - 203191 visitors travel_to -> LA
LA MY 28321
create new relationship MY - 28321 visitors travel_to -> LA
LA MM 22524
create new relationship MM - 22524 visitors travel_to -> LA
LA NL 8877
create new relationship NL - 8877 visitors travel_to -> LA
LA NZ 3965
create new relationship NZ - 3965 visitors travel_to -> LA
LA NO 2248
create new relationship NO - 2248 visitors travel_to -> LA
LA PH 17187
create new relationship PH - 17187 visitors travel_to -> LA
LA RU 12054
create new relationship RU - 12054 visitors travel_to -> LA
LA SG 11730
create new relationship SG - 11730 visitors travel_to -> LA
LA ES 6157
create new relationship ES - 6157 visitors travel_to -> LA
LA SE 3475
create new relationship SE - 3475 visitors travel_to -> LA
LA CH 8512
create new relationship CH - 8512 visitors travel_to -> LA
LA TW 6956
create new relationship TW - 6956 visitors travel_to -> LA
LA TH 2160300
create new relationship TH - 2160300 visitors travel_to -> LA
LA GB 31976
create new relationship GB - 31976 visitors travel_to -> LA
LA US 61184
create new relationship US - 61184 visitors travel_to -> LA
LA VN 924875
create new relationship VN - 924875 visitors travel_to -> LA
MY AU 368271
create new relationship AU - 368271 visitors travel_to -> MY
MY BD 179000
create new relationship BD - 179000 visitors travel_to -> MY
MY BE 22082
create new relationship BE - 22082 visitors travel_to -> MY
MY BN 1216123
create new relationship BN - 1216123 visitors travel_to -> MY
MY KH 97097
create new relationship KH - 97097 visitors travel_to -> MY
MY CA 87568
create new relationship CA - 87568 visitors travel_to -> MY
MY CN 3114257
create new relationship CN - 3114257 visitors travel_to -> MY
MY DK 22314
create new relationship DK - 22314 visitors travel_to -> MY
MY EG 29831

create new relationship EG - 29831 visitors travel_to -> MY
MY FR 141661
create new relationship FR - 141661 visitors travel_to -> MY
MY DE 130221
create new relationship DE - 130221 visitors travel_to -> MY
MY IN 735309
create new relationship IN - 735309 visitors travel_to -> MY
MY ID 3623277
create new relationship ID - 3623277 visitors travel_to -> MY
MY IQ 21421
create new relationship IQ - 21421 visitors travel_to -> MY
MY IE 19696
create new relationship IE - 19696 visitors travel_to -> MY
MY IR 46559
create new relationship IR - 46559 visitors travel_to -> MY
MY IT 54710
create new relationship IT - 54710 visitors travel_to -> MY
MY JP 424694
create new relationship JP - 424694 visitors travel_to -> MY
MY KZ 18138
create new relationship KZ - 18138 visitors travel_to -> MY
MY KR 673065
create new relationship KR - 673065 visitors travel_to -> MY
MY LA 26955
create new relationship LA - 26955 visitors travel_to -> MY
MY MM 46257
create new relationship MM - 46257 visitors travel_to -> MY
MY NP 20437
create new relationship NP - 20437 visitors travel_to -> MY
MY NL 82110
create new relationship NL - 82110 visitors travel_to -> MY
MY NZ 50140
create new relationship NZ - 50140 visitors travel_to -> MY
MY NO 14585
create new relationship NO - 14585 visitors travel_to -> MY
MY PK 105757
create new relationship PK - 105757 visitors travel_to -> MY
MY PH 421908
create new relationship PH - 421908 visitors travel_to -> MY
MY PL 27033
create new relationship PL - 27033 visitors travel_to -> MY
MY RU 79984
create new relationship RU - 79984 visitors travel_to -> MY
MY SA 121444
create new relationship SA - 121444 visitors travel_to -> MY
MY SG 10163882
create new relationship SG - 10163882 visitors travel_to -> MY
MY ZA 22674
create new relationship ZA - 22674 visitors travel_to -> MY
MY ES 43616
create new relationship ES - 43616 visitors travel_to -> MY
MY LK 26058
create new relationship LK - 26058 visitors travel_to -> MY
MY SE 29592
create new relationship SE - 29592 visitors travel_to -> MY
MY CH 25659
create new relationship CH - 25659 visitors travel_to -> MY
MY TW 382916
create new relationship TW - 382916 visitors travel_to -> MY
MY TH 1884306
create new relationship TH - 1884306 visitors travel_to -> MY
MY TR 15290
create new relationship TR - 15290 visitors travel_to -> MY
MY UA 16019
create new relationship UA - 16019 visitors travel_to -> MY
MY AE 11174
create new relationship AE - 11174 visitors travel_to -> MY
MY GB 346485
create new relationship GB - 346485 visitors travel_to -> MY
MY US 269928
create new relationship US - 269928 visitors travel_to -> MY
MY VN 400346
create new relationship VN - 400346 visitors travel_to -> MY
MM AF 27
create new relationship AF - 27 visitors travel_to -> MM
MM AL 89
create new relationship AL - 89 visitors travel_to -> MM
MM DZ 35
create new relationship DZ - 35 visitors travel_to -> MM
MM AD 35
create new relationship AD - 35 visitors travel_to -> MM
MM AO 10
create new relationship AO - 10 visitors travel_to -> MM
MM AG 6
create new relationship AG - 6 visitors travel_to -> MM
MM AR 1052
create new relationship AR - 1052 visitors travel_to -> MM
MM AM 92
create new relationship AM - 92 visitors travel_to -> MM
MM AU 25867
create new relationship AU - 25867 visitors travel_to -> MM
MM AT 3729
create new relationship AT - 3729 visitors travel_to -> MM
MM AZ 95
create new relationship AZ - 95 visitors travel_to -> MM
MM BH 35
create new relationship BH - 35 visitors travel_to -> MM
MM BD 4289
create new relationship BD - 4289 visitors travel_to -> MM
MM BY 322
create new relationship BY - 322 visitors travel_to -> MM
MM BE 5733
create new relationship BE - 5733 visitors travel_to -> MM
MM BZ 147
create new relationship BZ - 147 visitors travel_to -> MM
MM BJ 5
create new relationship BJ - 5 visitors travel_to -> MM
MM BT 226
create new relationship BT - 226 visitors travel_to -> MM
MM BO 90
create new relationship BO - 90 visitors travel_to -> MM
MM BA 78
create new relationship BA - 78 visitors travel_to -> MM
MM BW 7
create new relationship BW - 7 visitors travel_to -> MM
MM BR 2359
create new relationship BR - 2359 visitors travel_to -> MM
MM BN 454
create new relationship BN - 454 visitors travel_to -> MM
MM BG 498
create new relationship BG - 498 visitors travel_to -> MM
MM BF 4
create new relationship BF - 4 visitors travel_to -> MM
MM BI 16
create new relationship BI - 16 visitors travel_to -> MM
MM CV 4
create new relationship CV - 4 visitors travel_to -> MM
MM KH 7879
create new relationship KH - 7879 visitors travel_to -> MM
MM CM 72
create new relationship CM - 72 visitors travel_to -> MM
MM CA 11060
create new relationship CA - 11060 visitors travel_to -> MM
MM CF 5
create new relationship CF - 5 visitors travel_to -> MM
MM CL 1350
create new relationship CL - 1350 visitors travel_to -> MM
MM CN 1463054
create new relationship CN - 1463054 visitors travel_to -> MM
MM CO 1117
create new relationship CO - 1117 visitors travel_to -> MM
MM CR 196
create new relationship CR - 196 visitors travel_to -> MM
MM CI 91
create new relationship CI - 91 visitors travel_to -> MM
MM HR 239
create new relationship HR - 239 visitors travel_to -> MM
MM CU 34
create new relationship CU - 34 visitors travel_to -> MM
MM CY 116
create new relationship CY - 116 visitors travel_to -> MM
MM CZ 2074
create new relationship CZ - 2074 visitors travel_to -> MM
MM KP 100
create new relationship KP - 100 visitors travel_to -> MM
MM CD 28
create new relationship CD - 28 visitors travel_to -> MM
MM DK 3674
create new relationship DK - 3674 visitors travel_to -> MM
MM DM 17
create new relationship DM - 17 visitors travel_to -> MM
MM DO 21
create new relationship DO - 21 visitors travel_to -> MM
MM EC 170
create new relationship EC - 170 visitors travel_to -> MM
MM EG 299
create new relationship EG - 299 visitors travel_to -> MM
MM SV 55
create new relationship SV - 55 visitors travel_to -> MM
MM GQ 1
create new relationship GQ - 1 visitors travel_to -> MM
MM EE 335
create new relationship EE - 335 visitors travel_to -> MM
MM ET 97
create new relationship ET - 97 visitors travel_to -> MM
MM FJ 90
create new relationship FJ - 90 visitors travel_to -> MM
MM FI 1700
create new relationship FI - 1700 visitors travel_to -> MM
MM FR 42608
create new relationship FR - 42608 visitors travel_to -> MM
MM MK 26
create new relationship MK - 26 visitors travel_to -> MM
MM GE 86
create new relationship GE - 86 visitors travel_to -> MM
MM DE 29447
create new relationship DE - 29447 visitors travel_to -> MM
MM GH 157
create new relationship GH - 157 visitors travel_to -> MM
MM GR 588
create new relationship GR - 588 visitors travel_to -> MM
MM GT 107
create new relationship GT - 107 visitors travel_to -> MM
MM GN 3
create new relationship GN - 3 visitors travel_to -> MM
MM GW 19
create new relationship GW - 19 visitors travel_to -> MM
MM HT 5
create new relationship HT - 5 visitors travel_to -> MM
MM HN 16
create new relationship HN - 16 visitors travel_to -> MM
MM HK 32005
create new relationship HK - 32005 visitors travel_to -> MM
MM HU 1180
create new relationship HU - 1180 visitors travel_to -> MM
MM IS 81
create new relationship IS - 81 visitors travel_to -> MM
MM IN 117317
create new relationship IN - 117317 visitors travel_to -> MM
MM ID 15558
create new relationship ID - 15558 visitors travel_to -> MM
MM IQ 19
create new relationship IQ - 19 visitors travel_to -> MM
MM IE 2054
create new relationship IE - 2054 visitors travel_to -> MM
MM IR 146
create new relationship IR - 146 visitors travel_to -> MM
MM IL 3814
create new relationship IL - 3814 visitors travel_to -> MM
MM IT 19121
create new relationship IT - 19121 visitors travel_to -> MM
MM JM 62
create new relationship JM - 62 visitors travel_to -> MM
MM JP 125706
create new relationship JP - 125706 visitors travel_to -> MM
MM JO 122
create new relationship JO - 122 visitors travel_to -> MM
MM KZ 315
create new relationship KZ - 315 visitors travel_to -> MM
MM KE 307
create new relationship KE - 307 visitors travel_to -> MM
MM KR 111794
create new relationship KR - 111794 visitors travel_to -> MM
MM KW 103
create new relationship KW - 103 visitors travel_to -> MM
MM KG 80
create new relationship KG - 80 visitors travel_to -> MM
MM LA 2783
create new relationship LA - 2783 visitors travel_to -> MM
MM LV 196
create new relationship LV - 196 visitors travel_to -> MM
MM LB 192
create new relationship LB - 192 visitors travel_to -> MM
MM LS 2
create new relationship LS - 2 visitors travel_to -> MM
MM LR 71

create new relationship LR - 71 visitors travel_to -> MM
MM LY 7
create new relationship LY - 7 visitors travel_to -> MM
MM LI 6
create new relationship LI - 6 visitors travel_to -> MM
MM LT 500
create new relationship LT - 500 visitors travel_to -> MM
MM LU 257
create new relationship LU - 257 visitors travel_to -> MM
MM MO 3352
create new relationship MO - 3352 visitors travel_to -> MM
MM MG 27
create new relationship MG - 27 visitors travel_to -> MM
MM MW 61
create new relationship MW - 61 visitors travel_to -> MM
MM MY 44203
create new relationship MY - 44203 visitors travel_to -> MM
MM MV 36
create new relationship MV - 36 visitors travel_to -> MM
MM ML 10
create new relationship ML - 10 visitors travel_to -> MM
MM MT 118
create new relationship MT - 118 visitors travel_to -> MM
MM MH 12
create new relationship MH - 12 visitors travel_to -> MM
MM MR 1
create new relationship MR - 1 visitors travel_to -> MM
MM MU 125
create new relationship MU - 125 visitors travel_to -> MM
MM MX 2563
create new relationship MX - 2563 visitors travel_to -> MM
MM MD 17
create new relationship MD - 17 visitors travel_to -> MM
MM MC 24
create new relationship MC - 24 visitors travel_to -> MM
MM MN 483
create new relationship MN - 483 visitors travel_to -> MM
MM MA 146
create new relationship MA - 146 visitors travel_to -> MM
MM MZ 13
create new relationship MZ - 13 visitors travel_to -> MM
MM NA 33
create new relationship NA - 33 visitors travel_to -> MM
MM NR 2
create new relationship NR - 2 visitors travel_to -> MM
MM NP 3609
create new relationship NP - 3609 visitors travel_to -> MM
MM NL 9600
create new relationship NL - 9600 visitors travel_to -> MM
MM NZ 4000
create new relationship NZ - 4000 visitors travel_to -> MM
MM NI 56
create new relationship NI - 56 visitors travel_to -> MM
MM NE 90
create new relationship NE - 90 visitors travel_to -> MM
MM NG 581
create new relationship NG - 581 visitors travel_to -> MM
MM NO 3200
create new relationship NO - 3200 visitors travel_to -> MM
MM PS 15
create new relationship PS - 15 visitors travel_to -> MM
MM OM 20
create new relationship OM - 20 visitors travel_to -> MM
MM PK 1620
create new relationship PK - 1620 visitors travel_to -> MM
MM PA 55
create new relationship PA - 55 visitors travel_to -> MM
MM PG 32
create new relationship PG - 32 visitors travel_to -> MM
MM PY 2
create new relationship PY - 2 visitors travel_to -> MM
MM PE 338
create new relationship PE - 338 visitors travel_to -> MM
MM PH 17398
create new relationship PH - 17398 visitors travel_to -> MM
MM PL 3843
create new relationship PL - 3843 visitors travel_to -> MM
MM PT 2158
create new relationship PT - 2158 visitors travel_to -> MM
MM PR 2
create new relationship PR - 2 visitors travel_to -> MM
MM QA 82
create new relationship QA - 82 visitors travel_to -> MM
MM RO 747
create new relationship RO - 747 visitors travel_to -> MM
MM RU 5259
create new relationship RU - 5259 visitors travel_to -> MM
MM SM 8
create new relationship SM - 8 visitors travel_to -> MM
MM SA 159
create new relationship SA - 159 visitors travel_to -> MM
MM SN 45
create new relationship SN - 45 visitors travel_to -> MM
MM ZB 476
create new relationship ZB - 476 visitors travel_to -> MM
MM SC 2
create new relationship SC - 2 visitors travel_to -> MM
MM SL 9
create new relationship SL - 9 visitors travel_to -> MM
MM SG 57890
create new relationship SG - 57890 visitors travel_to -> MM
MM SK 737
create new relationship SK - 737 visitors travel_to -> MM
MM SI 377
create new relationship SI - 377 visitors travel_to -> MM
MM ZA 1472
create new relationship ZA - 1472 visitors travel_to -> MM
MM ES 13689
create new relationship ES - 13689 visitors travel_to -> MM
MM LK 5729
create new relationship LK - 5729 visitors travel_to -> MM
MM KN 7
create new relationship KN - 7 visitors travel_to -> MM
MM LC 12
create new relationship LC - 12 visitors travel_to -> MM
MM SD 95
create new relationship SD - 95 visitors travel_to -> MM
MM SR 3
create new relationship SR - 3 visitors travel_to -> MM
MM SZ 38
create new relationship SZ - 38 visitors travel_to -> MM
MM SE 2895
create new relationship SE - 2895 visitors travel_to -> MM
MM CH 9267
create new relationship CH - 9267 visitors travel_to -> MM
MM SY 45
create new relationship SY - 45 visitors travel_to -> MM
MM TW 39374
create new relationship TW - 39374 visitors travel_to -> MM
MM TJ 100
create new relationship TJ - 100 visitors travel_to -> MM
MM TH 1924581
create new relationship TH - 1924581 visitors travel_to -> MM
MM BS 16
create new relationship BS - 16 visitors travel_to -> MM
MM GM 11
create new relationship GM - 11 visitors travel_to -> MM
MM TL 92
create new relationship TL - 92 visitors travel_to -> MM
MM TT 47
create new relationship TT - 47 visitors travel_to -> MM
MM TN 40
create new relationship TN - 40 visitors travel_to -> MM
MM TR 1078
create new relationship TR - 1078 visitors travel_to -> MM
MM TM 119
create new relationship TM - 119 visitors travel_to -> MM
MM UA 1373
create new relationship UA - 1373 visitors travel_to -> MM
MM AE 50
create new relationship AE - 50 visitors travel_to -> MM
MM GB 34085
create new relationship GB - 34085 visitors travel_to -> MM
MM US 66757
create new relationship US - 66757 visitors travel_to -> MM
MM UY 170
create new relationship UY - 170 visitors travel_to -> MM
MM UZ 164
create new relationship UZ - 164 visitors travel_to -> MM
MM VU 27
create new relationship VU - 27 visitors travel_to -> MM
MM VE 107
create new relationship VE - 107 visitors travel_to -> MM
MM VN 52567
create new relationship VN - 52567 visitors travel_to -> MM
MM YE 15
create new relationship YE - 15 visitors travel_to -> MM
PH AD 25
create new relationship AD - 25 visitors travel_to -> PH
PH AR 3643
create new relationship AR - 3643 visitors travel_to -> PH
PH AU 286170
create new relationship AU - 286170 visitors travel_to -> PH
PH AT 14840
create new relationship AT - 14840 visitors travel_to -> PH
PH BH 3296
create new relationship BH - 3296 visitors travel_to -> PH
PH BD 6630
create new relationship BD - 6630 visitors travel_to -> PH
PH BE 19156
create new relationship BE - 19156 visitors travel_to -> PH
PH BR 10035
create new relationship BR - 10035 visitors travel_to -> PH
PH BN 8126
create new relationship BN - 8126 visitors travel_to -> PH
PH KH 5988
create new relationship KH - 5988 visitors travel_to -> PH
PH CA 238850
create new relationship CA - 238850 visitors travel_to -> PH
PH CN 1743309
create new relationship CN - 1743309 visitors travel_to -> PH
PH CO 3386
create new relationship CO - 3386 visitors travel_to -> PH
PH DK 18535
create new relationship DK - 18535 visitors travel_to -> PH
PH EG 3210
create new relationship EG - 3210 visitors travel_to -> PH
PH FI 8420
create new relationship FI - 8420 visitors travel_to -> PH
PH FR 88577
create new relationship FR - 88577 visitors travel_to -> PH
PH DE 103756
create new relationship DE - 103756 visitors travel_to -> PH
PH GR 3849
create new relationship GR - 3849 visitors travel_to -> PH
PH GU 19835
create new relationship GU - 19835 visitors travel_to -> PH
PH HK 91653
create new relationship HK - 91653 visitors travel_to -> PH
PH IN 134963
create new relationship IN - 134963 visitors travel_to -> PH
PH ID 70819
create new relationship ID - 70819 visitors travel_to -> PH
PH IE 21475
create new relationship IE - 21475 visitors travel_to -> PH
PH IR 2290
create new relationship IR - 2290 visitors travel_to -> PH
PH IL 22851
create new relationship IL - 22851 visitors travel_to -> PH
PH IT 38951
create new relationship IT - 38951 visitors travel_to -> PH
PH JP 682788
create new relationship JP - 682788 visitors travel_to -> PH
PH JO 1931
create new relationship JO - 1931 visitors travel_to -> PH
PH KR 1989322
create new relationship KR - 1989322 visitors travel_to -> PH
PH KW 6309
create new relationship KW - 6309 visitors travel_to -> PH
PH LA 1454
create new relationship LA - 1454 visitors travel_to -> PH
PH LU 837
create new relationship LU - 837 visitors travel_to -> PH
PH MO 8429
create new relationship MO - 8429 visitors travel_to -> PH
PH MY 139882
create new relationship MY - 139882 visitors travel_to -> PH
PH MX 5154
create new relationship MX - 5154 visitors travel_to -> PH
PH MM 13978
create new relationship MM - 13978 visitors travel_to -> PH
PH NR 93
create new relationship NR - 93 visitors travel_to -> PH
PH NP 6018
create new relationship NP - 6018 visitors travel_to -> PH
PH NL 41313
create new relationship NL - 41313 visitors travel_to -> PH
PH NZ 37872

create new relationship NZ - 37872 visitors travel_to -> PH
PH NG 3439
create new relationship NG - 3439 visitors travel_to -> PH
PH NO 23464
create new relationship NO - 23464 visitors travel_to -> PH
PH OM 2526
create new relationship OM - 2526 visitors travel_to -> PH
PH PK 5793
create new relationship PK - 5793 visitors travel_to -> PH
PH PG 8828
create new relationship PG - 8828 visitors travel_to -> PH
PH PE 1660
create new relationship PE - 1660 visitors travel_to -> PH
PH PL 15816
create new relationship PL - 15816 visitors travel_to -> PH
PH PT 8113
create new relationship PT - 8113 visitors travel_to -> PH
PH QA 2491
create new relationship QA - 2491 visitors travel_to -> PH
PH RU 36111
create new relationship RU - 36111 visitors travel_to -> PH
PH SA 43748
create new relationship SA - 43748 visitors travel_to -> PH
PH SG 158595
create new relationship SG - 158595 visitors travel_to -> PH
PH ZA 8553
create new relationship ZA - 8553 visitors travel_to -> PH
PH ES 49748
create new relationship ES - 49748 visitors travel_to -> PH
PH LK 6412
create new relationship LK - 6412 visitors travel_to -> PH
PH SE 27892
create new relationship SE - 27892 visitors travel_to -> PH
PH CH 29966
create new relationship CH - 29966 visitors travel_to -> PH
PH TW 327273
create new relationship TW - 327273 visitors travel_to -> PH
PH TH 61292
create new relationship TH - 61292 visitors travel_to -> PH
PH TR 8654
create new relationship TR - 8654 visitors travel_to -> PH
PH AE 10192
create new relationship AE - 10192 visitors travel_to -> PH
PH GB 209206
create new relationship GB - 209206 visitors travel_to -> PH
PH US 1064440
create new relationship US - 1064440 visitors travel_to -> PH
PH VE 702
create new relationship VE - 702 visitors travel_to -> PH
PH VN 66698
create new relationship VN - 66698 visitors travel_to -> PH
SG AU 1143305
create new relationship AU - 1143305 visitors travel_to -> SG
SG BD 136969
create new relationship BD - 136969 visitors travel_to -> SG
SG BE 34459
create new relationship BE - 34459 visitors travel_to -> SG
SG BN 72603
create new relationship BN - 72603 visitors travel_to -> SG
SG CA 138548
create new relationship CA - 138548 visitors travel_to -> SG
SG CN 3627030
create new relationship CN - 3627030 visitors travel_to -> SG
SG DK 38046
create new relationship DK - 38046 visitors travel_to -> SG
SG EG 5182
create new relationship EG - 5182 visitors travel_to -> SG
SG FI 30775
create new relationship FI - 30775 visitors travel_to -> SG
SG FR 212782
create new relationship FR - 212782 visitors travel_to -> SG
SG DE 380715
create new relationship DE - 380715 visitors travel_to -> SG
SG HK 488524
create new relationship HK - 488524 visitors travel_to -> SG
SG IN 1417931
create new relationship IN - 1417931 visitors travel_to -> SG
SG ID 3110416
create new relationship ID - 3110416 visitors travel_to -> SG
SG IE 24691
create new relationship IE - 24691 visitors travel_to -> SG
SG IR 7964
create new relationship IR - 7964 visitors travel_to -> SG
SG IL 24296
create new relationship IL - 24296 visitors travel_to -> SG
SG IT 102708
create new relationship IT - 102708 visitors travel_to -> SG
SG JP 884304
create new relationship JP - 884304 visitors travel_to -> SG
SG KR 645839
create new relationship KR - 645839 visitors travel_to -> SG
SG KW 9625
create new relationship KW - 9625 visitors travel_to -> SG
SG MY 1220664
create new relationship MY - 1220664 visitors travel_to -> SG
SG MU 13096
create new relationship MU - 13096 visitors travel_to -> SG
SG MM 155985
create new relationship MM - 155985 visitors travel_to -> SG
SG NL 99445
create new relationship NL - 99445 visitors travel_to -> SG
SG NZ 152995
create new relationship NZ - 152995 visitors travel_to -> SG
SG NO 33928
create new relationship NO - 33928 visitors travel_to -> SG
SG PK 19963
create new relationship PK - 19963 visitors travel_to -> SG
SG PH 829304
create new relationship PH - 829304 visitors travel_to -> SG
SG RU 80255
create new relationship RU - 80255 visitors travel_to -> SG
SG SA 15471
create new relationship SA - 15471 visitors travel_to -> SG
SG ZA 42736
create new relationship ZA - 42736 visitors travel_to -> SG
SG ES 65394
create new relationship ES - 65394 visitors travel_to -> SG
SG LK 98737
create new relationship LK - 98737 visitors travel_to -> SG
SG SE 50123
create new relationship SE - 50123 visitors travel_to -> SG
SG CH 97970
create new relationship CH - 97970 visitors travel_to -> SG
SG TW 425624
create new relationship TW - 425624 visitors travel_to -> SG
SG TH 528486
create new relationship TH - 528486 visitors travel_to -> SG
SG AE 81526
create new relationship AE - 81526 visitors travel_to -> SG
SG GB 607791
create new relationship GB - 607791 visitors travel_to -> SG
SG US 729260
create new relationship US - 729260 visitors travel_to -> SG
SG VN 591928
create new relationship VN - 591928 visitors travel_to -> SG
TH AR 29498
create new relationship AR - 29498 visitors travel_to -> TH
TH AU 767162
create new relationship AU - 767162 visitors travel_to -> TH
TH AT 111428
create new relationship AT - 111428 visitors travel_to -> TH
TH BD 136673
create new relationship BD - 136673 visitors travel_to -> TH
TH BE 114669
create new relationship BE - 114669 visitors travel_to -> TH
TH BR 69714
create new relationship BR - 69714 visitors travel_to -> TH
TH BN 15608
create new relationship BN - 15608 visitors travel_to -> TH
TH KH 910685
create new relationship KH - 910685 visitors travel_to -> TH
TH CA 273218
create new relationship CA - 273218 visitors travel_to -> TH
TH CN 10997169
create new relationship CN - 10997169 visitors travel_to -> TH
TH DK 162448
create new relationship DK - 162448 visitors travel_to -> TH
TH EG 23722
create new relationship EG - 23722 visitors travel_to -> TH
TH FI 128014
create new relationship FI - 128014 visitors travel_to -> TH
TH FR 745318
create new relationship FR - 745318 visitors travel_to -> TH
TH DE 852432
create new relationship DE - 852432 visitors travel_to -> TH
TH HK 1045283
create new relationship HK - 1045283 visitors travel_to -> TH
TH IN 1995363
create new relationship IN - 1995363 visitors travel_to -> TH
TH ID 709578
create new relationship ID - 709578 visitors travel_to -> TH
TH IL 195856
create new relationship IL - 195856 visitors travel_to -> TH
TH IT 272310
create new relationship IT - 272310 visitors travel_to -> TH
TH JP 1806383
create new relationship JP - 1806383 visitors travel_to -> TH
TH KR 1890959
create new relationship KR - 1890959 visitors travel_to -> TH
TH KW 78199
create new relationship KW - 78199 visitors travel_to -> TH
TH LA 1854719
create new relationship LA - 1854719 visitors travel_to -> TH
TH MY 4272584
create new relationship MY - 4272584 visitors travel_to -> TH
TH MM 378232
create new relationship MM - 378232 visitors travel_to -> TH
TH NP 60377
create new relationship NP - 60377 visitors travel_to -> TH
TH NL 241565
create new relationship NL - 241565 visitors travel_to -> TH
TH NZ 112660
create new relationship NZ - 112660 visitors travel_to -> TH
TH NO 127983
create new relationship NO - 127983 visitors travel_to -> TH
TH PK 79805
create new relationship PK - 79805 visitors travel_to -> TH
TH PH 506306
create new relationship PH - 506306 visitors travel_to -> TH
TH RU 1483334
create new relationship RU - 1483334 visitors travel_to -> TH
TH SA 30006
create new relationship SA - 30006 visitors travel_to -> TH
TH SG 1056582
create new relationship SG - 1056582 visitors travel_to -> TH
TH ZA 96450
create new relationship ZA - 96450 visitors travel_to -> TH
TH ES 188995
create new relationship ES - 188995 visitors travel_to -> TH
TH LK 71043
create new relationship LK - 71043 visitors travel_to -> TH
TH SE 287338
create new relationship SE - 287338 visitors travel_to -> TH
TH CH 192126
create new relationship CH - 192126 visitors travel_to -> TH
TH TW 789973
create new relationship TW - 789973 visitors travel_to -> TH
TH AE 130158
create new relationship AE - 130158 visitors travel_to -> TH
TH GB 992486
create new relationship GB - 992486 visitors travel_to -> TH
TH US 1165856
create new relationship US - 1165856 visitors travel_to -> TH
TH VN 1047663
create new relationship VN - 1047663 visitors travel_to -> TH
VN AU 383511

create new relationship AU - 383511 visitors travel_to -> VN
VN BE 34187
create new relationship BE - 34187 visitors travel_to -> VN
VN KH 227910
create new relationship KH - 227910 visitors travel_to -> VN
VN CA 159121
create new relationship CA - 159121 visitors travel_to -> VN
VN CN 5806425
create new relationship CN - 5806425 visitors travel_to -> VN
VN DK 42043
create new relationship DK - 42043 visitors travel_to -> VN
VN FI 21480
create new relationship FI - 21480 visitors travel_to -> VN
VN FR 287655
create new relationship FR - 287655 visitors travel_to -> VN
VN DE 226792
create new relationship DE - 226792 visitors travel_to -> VN
VN HK 51618
create new relationship HK - 51618 visitors travel_to -> VN
VN IN 168998
create new relationship IN - 168998 visitors travel_to -> VN
VN ID 106688
create new relationship ID - 106688 visitors travel_to -> VN
VN IT 70798
create new relationship IT - 70798 visitors travel_to -> VN
VN JP 951962
create new relationship JP - 951962 visitors travel_to -> VN
VN KR 4290802
create new relationship KR - 4290802 visitors travel_to -> VN
VN LA 98492
create new relationship LA - 98492 visitors travel_to -> VN
VN MY 606206
create new relationship MY - 606206 visitors travel_to -> VN
VN NL 81092
create new relationship NL - 81092 visitors travel_to -> VN
VN NZ 47088
create new relationship NZ - 47088 visitors travel_to -> VN
VN NO 28037
create new relationship NO - 28037 visitors travel_to -> VN
VN PH 179190
create new relationship PH - 179190 visitors travel_to -> VN
VN RU 646524
create new relationship RU - 646524 visitors travel_to -> VN
VN SG 308969
create new relationship SG - 308969 visitors travel_to -> VN
VN ES 83597
create new relationship ES - 83597 visitors travel_to -> VN
VN SE 50704
create new relationship SE - 50704 visitors travel_to -> VN
VN CH 36577
create new relationship CH - 36577 visitors travel_to -> VN
VN TW 926744
create new relationship TW - 926744 visitors travel_to -> VN
VN TH 509802
create new relationship TH - 509802 visitors travel_to -> VN
VN GB 315084
create new relationship GB - 315084 visitors travel_to -> VN
VN US 746171
create new relationship US - 746171 visitors travel_to -> VN

In [38]:
#calculate the total visitor volume of this dataset
query = (
        "MATCH (c1)-[r:travel_to]->(c2 {code :'SG'})"
        "RETURN max(r.visitors), min(r.visitors)"
        )
with driver.session() as session:
    results = session.run(query)
    for result in results:
        print(query)
                    
        maxvisitors=result['max(r.visitors)']
        minvisitors=result['min(r.visitors)']

MATCH (c1)-[r:travel_to]->(c2 {code :'SG'})RETURN max(r.visitors), min(r.visitors)

In [39]:
print(maxvisitors) #To ensure that you get 3627030
print(minvisitors) #To ensure that you get 5182

3627030
5182